[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
llama_index = "*"
chromadb = "*"
watchdog = "*"
tinydb = "*"
pypdf2 = "*"
ptvsd = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
